In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datos_vehic.csv',sep=';' )

In [3]:
df.head(10)

,timestep_time,vehicle_angle,vehicle_id,vehicle_lane,vehicle_pos,vehicle_slope,vehicle_speed,vehicle_type,vehicle_x,vehicle_y
0,0.0,134.56,veh0,451111999#0_0,5.10,0.0,11.78,veh_passenger,3.63,2813.92
1,1.0,134.56,veh0,451111999#0_0,16.00,0.0,10.90,veh_passenger,11.40,2806.27
2,2.0,134.56,veh0,451111999#0_0,26.68,0.0,10.68,veh_passenger,19.01,2798.78
3,3.0,134.56,veh0,451111999#0_0,38.45,0.0,11.77,veh_passenger,27.40,2790.52
4,4.0,134.56,veh0,451111999#0_0,50.02,0.0,11.57,veh_passenger,35.64,2782.40
5,5.0,134.56,veh0,451111999#0_0,61.49,0.0,11.47,veh_passenger,43.81,2774.35
6,6.0,134.56,veh0,451111999#0_0,73.08,0.0,11.59,veh_passenger,52.07,2766.22
7,7.0,134.82,veh0,451111999#0_0,84.30,0.0,11.22,veh_passenger,60.03,2758.31
8,8.0,134.82,veh0,451111999#0_0,95.44,0.0,11.14,veh_passenger,67.93,2750.46
9,9.0,134.82,veh0,451111999#0_0,106.65,0.0,11.21,veh_passenger,75.89,2742.56

In [4]:
#Selecciono los que vienen de Plaza de Virreyes. Esta autopista tiene seis carriles:
#325213134_0, 325213134_1, 325213134_2, 325213134_3, 325213134_4, 325213134_5 (izqiuerda a derecha)

Plaza_Vi_0 = df.loc[df['vehicle_lane'] == '325213134_0']
Plaza_Vi_1 = df.loc[df['vehicle_lane'] == '325213134_1']
Plaza_Vi_2 = df.loc[df['vehicle_lane'] == '325213134_2']
Plaza_Vi_3 = df.loc[df['vehicle_lane'] == '325213134_3']
Plaza_Vi_4 = df.loc[df['vehicle_lane'] == '325213134_4']
Plaza_Vi_5 = df.loc[df['vehicle_lane'] == '325213134_5']

In [5]:
print(Plaza_Vi_0.size)
print(Plaza_Vi_1.size)
print(Plaza_Vi_2.size)
print(Plaza_Vi_3.size)
print(Plaza_Vi_4.size)
print(Plaza_Vi_5.size)

860
0
0
920
0
0

In [6]:
#Selecciono los que van para la Au.Perito Moreno. Esta autopista tiene tres carriles:
PM_0 = df.loc[df['vehicle_lane'] == '18908030_0']
PM_1 = df.loc[df['vehicle_lane'] == '18908030_1']
PM_2 = df.loc[df['vehicle_lane'] == '18908030_2']

In [7]:
print(PM_0.size)
print(PM_1.size)
print(PM_2.size)

1430
0
0

In [8]:
#PM_0.head(100)

In [9]:
#Selecciono los que van para la Au.Dellepiane. Esta autopista tiene dos carriles:
Delle_0 = df.loc[df['vehicle_lane'] == '39910457_0']
Delle_1 = df.loc[df['vehicle_lane'] == '39910457_1']

In [10]:
print(Delle_0.size)
print(Delle_1.size)

470
0

In [27]:
#Selecciono aquellos m칩viles que vienen de Plaza de los Virreyes y que toman la PM para llegar al PPM. 
#Para esto me fijo cu치ntos autos de los que vienen por el carril 0 y 3 de la 25 de Mayo, y se van por el carril 0
#de la Au. PM hacia el PPM

#Autos que vienen por el carril 0 de la Au.25 de Mayo (que vienen de Plaza de los Virreyes) y se van por el 
#carril 0 de la PM
PPM_00 = df.loc[(df['vehicle_lane'] == '325213134_0') | (df['vehicle_lane'] == '18908030_0') ]

#Autos que vienen por el carril 3 de la Au.25 de Mayo (que vienen de Plaza de los Virreyes) y se van por el 
#carril 0 de la PM
PPM_30 = df.loc[(df['vehicle_lane'] == '325213134_3') | (df['vehicle_lane'] == '18908030_0') ]

#Guardo estos datos en un .csv
PPM_00.to_csv(r'PPM_00.csv')
PPM_30.to_csv(r'PPM_03.csv')

In [28]:
print(PPM_00.size)
print(PPM_30.size)

2290
2350

In [30]:
#PPM_30.head(800)

In [33]:
#Selecciono aquellos m칩viles que vienen de Plaza de los Virreyes y que toman la Dellepiane para llegar al PPM. 
#Para esto me fijo cu치ntos autos de los que vienen por el carril 0 y 3 de la 25 de Mayo, y se van por el carril 0
#de la Dellepiane

#Autos que vienen por el carril 0 de la Au.25 de Mayo (que vienen de Plaza de los Virreyes) y se van por el 
#carril 0 de la PM
Delle_00 = df.loc[(df['vehicle_lane'] == '325213134_0') | (df['vehicle_lane'] == '39910457_0') ]

#Autos que vienen por el carril 3 de la Au.25 de Mayo (que vienen de Plaza de los Virreyes) y se van por el 
#carril 0 de la PM
Delle_30 = df.loc[(df['vehicle_lane'] == '325213134_3') | (df['vehicle_lane'] == '39910457_0') ]

#Guardo estos datos en un .csv
Delle_00.to_csv(r'Delle_00.csv')
Delle_30.to_csv(r'Delle_30.csv')

In [34]:
print(Delle_00.size)
print(Delle_30.size)

1330
1390

In [16]:
#Delle_30.head(800)